table, th, td {
  border: 1px solid black;
  border-collapse:collapse;
  padding: 5px;
  margin:15px;
}

.dere{
   text-align:right;
}

.titulo{
  background-color:blue;
  padding:20px;
  color:white;
  text-align:center;
}

.titulo h1{
   font-size:20px;
}

.caja{
  background-color:white;
  clear:left;
  padding:20px;
}